@CHARSET "ISO-8859-1";
body {
width:200%;
height:100%;
} 
#bg{
width: 500%;
height: 100%;
margin-top: .27in;
}

div.bigText1{
padding-top: 1.75in;
font-family: OLDENGL;
text-align:center;
font-size: 50pt;
}

div.bigText2{
font-family: OLDENGL;
text-align:center;
font-size: 50pt;
}

div.smallText{
font-family: Monotype Corsiva, cursive; 
text-align:center;
font-size: 16pt;}

#date{
font-family: Goudy Old Style;
text-align:center;
font-size: 18pt;
padding-bottom:.5in;
}

#participant{font-family: Goudy Old Style; 
text-align:center;
font-size: 40pt;
}

#workshop{
font-family: Goudy Old Style;
text-align:center;
font-size: 18pt;
font-weight: bold;
}
 
#venue{
font-family: Goudy Old Style;
text-align:center;
font-size: 18pt;
}

img.pic{
width: 100%;
height: 100%;
}

div.signatures{
	width:700;
}

div.signature1{
font-family: Goudy Old Style;
text-align: center;
font-size: 12pt;
float: left;
width:355;
}

div.signature2{
float: left;
width:400;
font-family: Goudy Old Style;
text-align: center;
font-size: 12pt;
}

div.centerStage{
margin-left: 3.3in;
width:400;
font-family: Goudy Old Style;
text-align: center;
font-size: 12pt;
}

.name{
font-family: Goudy Old Style;
font-size: 20pt;
}

div.output{
font-family: Goudy Old Style;
text-align:center;
font-size: 18pt;
font-weight: bold;
}

img.imgsignature1{
	width: 2.3in;
	height: .6in;
	margin-left: 15px;	
}

img.imgsignature2{
	width: 2.3in;
	height: .6in;
	margin-left: 15px;
}

img.headerApp{
width: 7in;
height: 1.4in;
margin-left: .40in;
position: absolute;
}